@model MyProject.WebUI.Areas.Admin.Models.ExperienceTwoModel.ExperienceTwoUpdateViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-controller="ExperienceTwos" asp-action="Update" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">#</label>
        <input type="text" class="form-control" asp-for="ExperienceTwo.ExperienceTwoId">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Başlık</label>
        <input type="text" class="form-control" asp-for="ExperienceTwo.Title">
    </div>
    <div class="form-group">
        <label for="number">Açıklama</label>
        <textarea class="form-control" asp-for="ExperienceTwo.Description" style="height:200px; word-wrap;"></textarea>
    </div>
    <div class="form-group">
        <label for="number">Tarih</label>
        <input type="text" class="form-control" asp-for="ExperienceTwo.Date">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Alt Başlık</label>
        <input type="text" class="form-control" asp-for="ExperienceTwo.Subtitle">
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>


