@model MyProject.WebUI.Areas.Admin.Models.SkillModel.SkillUpdateViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<form asp-controller="Skills" asp-action="Update" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">#</label>
        <input type="text" class="form-control" asp-for="Skill.SkillId">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Yetenek</label>
        <input type="text" class="form-control" asp-for="Skill.SkillItem">
    </div>
    <div class="form-group">
        <label for="number">Yetenek Yüzdesi</label>
        <input type="text" class="form-control" asp-for="Skill.SkillItemPercent">
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>

